body
{
  font-family: George, Garamond, serif;
}

.project
{
  background-color: #EFEFF8;
}

.visit
{
  background-color: #DFDFE8;
}

.study
{
  background-color: #E8E8EF;
}

.episode
{
  background-color: #D8D8DF;
}

.acquisition
{
  background-color: #E4E4E8;
}

.project,
.visit,
.study,
.episode,
.acquisition
{
  display: block;
  border: 1px solid #AAA;
  clear: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding-left: 1em;
}

.visit,
.study,
.episode,
.acquisition
{
  margin-left: 2em;
}

.projectTitle, .visitTitle, .studyTitle, .episodeTitle, .acquisitionTitle
{
  display: block;
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  background-color: #444;
  color: #FFF;
  margin-left: -1em;
  margin-bottom: 0.5em;
  padding: 0.25em;
}

.block, .leftBlock, .inlineBlock, .floatingBlock, .overflowBlock
{
  margin-top: 0.25em;
  padding: 1em;
  padding-top: 0.5em;
  border: 1px solid #AAA;
  background-color: #F2FFFF;
}

.fieldGroup
{
  margin: 0em;
  padding: 0.5em;
  padding-top: 0.25em;
  border-top: 1px solid #AAA;
  border-left: 2px solid #AAA;
  background-color: #F2FFFF;
}

.floatingBlock
{
  float: left;
  display: inline-block;
}

.afterFloatBlock
{
  clear: both;
}

.overflowBlock
{
  max-height: 20em;
  overflow: auto;
}

.sideBar
{
  color: #888;
  float: right;
}

.blockTitle
{
  font-weight: bold;
  width: 100%;
}

.blockHeader
{
  font-weight: bold;
  width: 100%;
  background-color: D0E0FF;
}
.levelName
{
  color: #EEE;
  font-style: normal;
  text-transform: uppercase;
}

.levelID
{
}

.annotationList
{
  padding: 0.5em;
}

.annotation
{
  background-color: #FFF2F2;
  border: 1px solid #BBB;
  font-style: italic;
  color: #244;
  padding: 0.5em;
  margin: 0.25em;
  text-align: right;
}

.description
{
  background-color: #FFF2F2;
  border: 1px solid #BBB;
  font-style: italic;
  color: #244;
  padding: 0.5em;
  margin: 0.25em;
}

.fieldGroup
{
  display: block;
}

.fieldGroupTitle
{
  color: #888;
  display: inline;
  float: right;
  font-weight: bold;
}

.field
{
  text-indent: -3em; margin-left: 3em;
}

.fieldName
{
  font-style: italic;
}

.fieldParam
{
  font-style: italic;
  color: #244;
}

.fieldValue
{
}

.attr
{
}

.attrName
{
  color: #000;
}

.attrValue
{
  color: #444;
}

.elementList
{
  display: none;
}

